@model Messenger_Kings.Models.Booking

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h2>Review My Booking</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Book_ID)
        @Html.HiddenFor(model => model.Quote_ID)
        @Html.HiddenFor(model => model.BookStatus)
        @Html.HiddenFor(model => model.BookDecline)
        @Html.HiddenFor(model => model.paymentstatus)
        @Html.HiddenFor(model => model.Client_ID)

        <div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Delivery Details 🚚</b></div>
                        <div class="card-body">

                            <dl class="dl-horizontal">


                                <dt>
                                    @Html.DisplayNameFor(model => model.Quote.Quote_PickupAddress)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Quote.Quote_PickupAddress)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_PickupDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_PickupDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_DeliveryDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_DeliveryDate)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_DeliveryNote)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_DeliveryNote)
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Recipient Details 👱</b></div>
                        <div class="card-body">

                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_RecipientName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_RecipientName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_RecipientSurname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_RecipientSurname)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_RecipientNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Book_RecipientNumber)
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>


                <div class="col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header"><b>Payment 💸</b></div>
                        <div class="card-body">

                            <dl class="dl-horizontal">
                                @if (ViewBag.NoCoupon == "Applied Successfully" && TempData["OldValue"] != null)
                                {
                                    <dt>
                                        Original Cost:
                                    </dt>

                                    <dd>
                                        R @TempData["OldValue"]
                                    </dd>

                                    <dt>
                                        Coupon Discount:
                                    </dt>

                                    <dd>
                                        R @TempData["Value"]
                                    </dd>
                                }
                                <dt>
                                    @Html.DisplayNameFor(model => model.Book_TotalCost)
                                </dt>

                                <dd>
                                    R @Html.DisplayFor(model => model.Book_TotalCost)
                                </dd>




                                <dt>
                                    Apply Coupon Code
                                </dt>

                                @if (ViewBag.NoCoupon == "Applied Successfully")
                                {
                                    <dd>
                                        @Html.EditorFor(model => model.Coupon_used, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } }) <span style="color:green;">  @ViewBag.NoCoupon</span>


                                        <text>  </text>
                                    </dd>

                                }
                                else
                                {
                                    <dd>
                                        @Html.EditorFor(model => model.Coupon_used)  <input type="submit" value="Apply" class="btn btn-primary" /> <span style="color:red;">  @ViewBag.NoCoupon</span>

                                        <text>  </text>
                                    </dd>



                                }
                            </dl>

                            <div class="row">

                                <div class="col-sm-5">
                                    <a href='@Url.Action("Validate", "Bookings", new { id = Model.Book_ID }, null)' class="btn btn-success">Check out</a>
                                </div>
                                <div class="col-sm-3">
                                    <a href='@Url.Action("Edit", "Bookings", new { id = Model.Book_ID }, null)' class="btn btn-warning">Edit</a>
                                </div>

                                <div class="col-sm-3">
                                    <a href='@Url.Action("Delete", "Bookings", new { id = Model.Book_ID }, null)' class="btn btn-secondary">Cancel</a>

                                </div>
                                    </div>
                                </div>
                    </div>

                </div>

            </div>


        </div>




    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
