@model IEnumerable<Messenger_Kings.Models.Booking>
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}


@{
    ViewBag.Title = "Index";
}


<br />
<br />

<div class="shadow p-3 mb-5 bg-white rounded">


    <h2>Booking History</h2>

    @using (Html.BeginForm())
    {

        <div class="row">
            <div class="col-sm-8">
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-secondary btn-sm" />
                </p>
            </div>
            <div class="col-sm-3">

                @if (ViewBag.Contract == 0.00M)
                {

                    <h6> You Have No Outstanding Amounts Due</h6>

                }
                else
                {
                    <h3>  Amount Due: R @ViewBag.Contract</h3> <br />
                    <a href='@Url.Action("ContractPayment", "Bookings")' class="btn btn-primary">Pay Amount Due</a>
                }
            </div>

        </div>

    }

    <br>
    <br>
    <table class="table table-hover">

        @*<tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder =
               })
            </th>
            <th>
                First Name
            </th>
            <th>
                @Html.ActionLink("Enrollment Date", "Index", new { sortOrder =
               ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>*@

        <thead>
            <tr class="table-active">

                <th>
                    @Html.DisplayNameFor(model => model.Quote.Quote_PickupAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_PickupDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_RecipientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_RecipientSurname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_RecipientNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_DeliveryNote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book_TotalCost)
                </th>

                <th>Status</th>

            </tr>

        </thead>

        @foreach (var item in Model)
        {
            <tr class="table-light">

                <td>
                    @Truncate(item.Quote.Quote_PickupAddress, 15)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_PickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_RecipientSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_RecipientNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_DeliveryNote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_TotalCost)
                </td>

                <td>
                    @if (item.BookDecline == true)
                    {
                        <text> <span style="color:red;"> declined </span> </text>
                    }
                    else
                    if (item.BookStatus == true)
                    {
                        <text> <span style="color:green;">Approved</span> </text>
                    }
                    else
                    if (item.paymentstatus == false && item.BookStatus == false)
                    {
                        <text> <span style="color:darkred;">Cancelled</span> </text>
                    }
                    else
                    {
                        <text> <span style="color:orange;">Pending</span> </text>
                    }

                </td>
                <td>
                    @if (item.BookStatus == true)
                    {
                        <a href='@Url.Action("Invoice", "Orders", new { id = item.Book_ID }, null)' class="btn btn-primary">View Invoice</a>

                    }
                </td>
                @*<td>
                    @if (item.BookStatus == true)
                    {
                        <a href='@Url.Action("Tracking", "Trackings", new { id =  item.Book_ID }, null)' class="btn btn-primary">Track My Order</a>

                    }
                </td>*@
            </tr>

        }

    </table>

    </div>
